<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PlaceHolder</title>
	<link rel="stylesheet" href="fontawesome/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/templatemo-xtra-blog.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../js/cookie.js"></script>
    <script src="../js/logOut.js"></script>
    <script src="../js/tokenManager.js"></script><script> checkToken(); </script>
</head>
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i></div>            
                <h1 class="text-center">PlaceHolder</h1>
            </div>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    <li class="tm-nav-item"><a href="/" class="tm-nav-link">
                        <i class="fa-solid fa-play"></i>
                        Home
                    </a></li>
                    <li class="tm-nav-item active"><a href="/about" class="tm-nav-link">
                        <i class="fa-solid fa-user"></i>
                        Subscriptions
                    </a></li>
                    <li class="tm-nav-item"><a href="" class="tm-nav-link">
                        <i class="fa-solid fa-dumbbell"></i>
                        Progress
                    </a></li>
                    <li class="tm-nav-item"><a href="/contact" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        Contact Us
                    </a></li>
                    <li class="tm-nav-item"><a onclick="logOut()" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        LogOut
                    </a></li>
                </ul>
            </nav>
            <div class="tm-mb-65">
                <a href="https://facebook.com" class="tm-social-link">
                    <i class="fab fa-facebook tm-social-icon"></i>
                </a>
                <a href="https://twitter.com" class="tm-social-link">
                    <i class="fab fa-twitter tm-social-icon"></i>
                </a>
                <a href="https://instagram.com" class="tm-social-link">
                    <i class="fab fa-instagram tm-social-icon"></i>
                </a>
                <a href="https://linkedin.com" class="tm-social-link">
                    <i class="fab fa-linkedin tm-social-icon"></i>
                </a>
            </div>
            <p class="tm-mb-80 pr-5 text-white">
                This is the first iteration of our support system for individual and remote physical exercise.
            </p>
        </div>
    </header>
    <div class="container-fluid">
        <main class="tm-main">
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">                
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>                                
                    </form>
                </div>                
            </div>            
            <div class="row tm-row tm-mb-45">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-55">
                    <img src="img/about-01.jpg" alt="Image" class="img-fluid">
                </div>
            </div>
            <div class="row tm-row tm-mb-40">
                <div class="col-12">                    
                    <div class="mb-4">
                        <h2 class="pt-2 tm-mb-40 tm-color-primary tm-post-title">Find your Personal Trainer</h2>
                        <p>
                            To maximize your training and to make sure you reach your goals and keep improving yourself, getting the help of a personal trainer
                            is essential so that you keep on the right path to become a better you.
                            Different bodies require different treatments, so we provide you a varied list of personal trainers so that you can find the 
                            best tutor to transform your body into what you want it to be.
                        </p>
                        <p>
                            Below, you will find a list of personal trainers, each one with its speciality, along with a brief introduction and their 
                            experiences in the field. Make sure you take your time choosing the person who will accompany you during your fitness 
                            journey and experience first-hand the knowledge of a pro.
                        </p>                            
                    </div>                    
                </div>
            </div>     
            <div class="row tm-row tm-mb-60">
                <div class="col-12">
                    <hr class="tm-hr-primary  tm-mb-55">
                </div>                
                <div class="col-lg-6 tm-mb-60 tm-person-col">
                    <div class="media tm-person">
                        <img src="img/pt_mas.png" alt="Image" class="img-fluid mr-4" style="height: 250px; width: 167px; object-fit: cover;">
                        <div class="media-body">
                            <h2 class="tm-color-primary tm-post-title mb-2">Alexandre Mendes</h2>
                            <h3 class="tm-h3 mb-3">Expertise: Healthy weight loss and fitness</h3>
                            <p class="mb-0 tm-line-height-short">
                                Alexandre is 32 years old portuguese personal trianer who has 8 years of experience on the field. 
                                He graduated in physical education and every client he has had throughout his years has had consistent results. 
                                His motivation is to help others and make them reach their goals and, to try and reach more people, 
                                he decided to sell his services online. Buy his subscription and learn every trick of how to transform
                                your body into the one of your dreams.
                            </p>
                            <a href="/about">
                                <button style="background-color: #92d400; color: white; font-size: 20px; padding: 10px 20px; border: none; cursor: pointer; border-radius: 10px; font-weight: bold;">
                                    Subscribe
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 tm-mb-60 tm-person-col">
                    <div class="media tm-person">
                        <img src="img/pt_fem.jpg" alt="Image" class="img-fluid mr-4" style="height: 250px; width: 167px; object-fit: cover;">
                        <div class="media-body">
                            <h2 class="tm-color-primary tm-post-title mb-2">Marina Silva</h2>
                            <h3 class="tm-h3 mb-3">Expertise: Sports nutrition</h3>
                            <p class="mb-0 tm-line-height-short">
                                Born in Brazil, Marina is a personal trainer with 5 years of experience plus another 2 years
                                in online choaching. After graduating in physical education, she then got a specialization in 
                                sports nutrition. She also has a CPR and first aid certificate, making her a great person to have 
                                by your side. Believes in balanced training that integrates body and mind, with a focus on well-being 
                                and long-term health. Acquire her services and learn how to improve your body and mind to the fullest.
                            </p>
                            <a href="/about">
                                <button style="background-color: #92d400; color: white; font-size: 20px; padding: 10px 20px; border: none; cursor: pointer; border-radius: 10px; font-weight: bold;">
                                    Subscribe
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>        
            <footer class="row tm-row">
            </footer>
        </main>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/templatemo-script.js"></script>
</body>
</html>
