<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>PlaceHolder</title>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap'><link rel="stylesheet" href="css/login_style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>  
<script src="../js/cookie.js"></script>
  <script src="../js/login.js"></script>
  
  <script>
    if (getCookie("token") /*localStorage.token*/) {
      // check if token is valid
      $.post("/valid", { token: getCookie("token") /*localStorage.token*/})
      .done(function( data ) {
          const info = JSON.parse(data)
          if (info.tokenIsValid === "VALID") {
            // valid session
            window.location.pathname = '/'
          }
      })
      .fail(function() {
          errorBox.innerHTML = "Ocorreu um erro ao tentar contactar o servidor!";
      });
    }
  </script>
</head>
<body>
<div class="screen-1">
  <div class="logo" ><img src="img/logo.png" alt="" style="height: 100px;"></div>
  <div class="email">
    <label for="email">Username</label>
    <div class="sec-2">
      <ion-icon name="mail-outline"></ion-icon>
      <input id ="username" type="email" name="email" placeholder=""/>
    </div>
  </div>
  <div class="password">  
    <label for="password">Password</label>
    <div class="sec-2">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <input id ="password" class="pas" type="password" name="password" placeholder=""/>
      <ion-icon class="show-hide" name="eye-outline"></ion-icon>
    </div>
  </div>
  <button onclick="tryLogin()"  class="login"><a>Login</a></button>
  <div class="footer"><span>Signup</span><span>Forgot Password?</span></div>
</div>
</body>
</html>
